.cv-footer {
  background-color: var(--bg-footer);
  color: var(--text-light);
  padding: 40px 0 20px;
  
  hr {
    border-color: #495057;
  }
  
  a {
    color: #adb5bd;
    text-decoration: none;
    
    &:hover {
      color: white;
    }
  }
  
  .text-muted {
    color: #adb5bd !important;
  }
  
  h5 {
    color: var(--text-light);
  }
  
  p {
    color: #adb5bd;
  }
}
